<div style="padding:50px; background:#f5f5f5; width:100%;">

  <div style="width:400px; background:#fdfdfd; margin:auto; border:1px solid #ebebeb;border-radius:5px;">

    <table style="width:100%; border:0px;border-collapse: collapse;font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; ">

      <tr style="color:#ffffff">
        <td colspan="2" style="text-align:center; padding:20px;">
          <img alt="Assign.Work" height="40" src="http://assign.work/assets/images/logo/logo.png">
        </td>
      </tr>

      <tr>
        <td colspan="2" style="background:#0857fb; text-align:center; padding:20px;">
          <span style="color:white; font-size:20px;">TASK CREATED</span>
        </td>
      </tr>

      <tr>
        <td colspan="2" style="color:#6E829C; font-size:15px; padding:20px 20px 20px 20px;">
          <p style="line-height:1.5;">
            Dear <%= user.firstName %> <%= user.lastName %>,<br>
            A task named :- <%= task.displayName %> has been Created by :-
            <b><%= task.createdBy.firstName %> <%= task.createdBy.lastName %></b>

            in Project <b><%= project.name %></b>

          </p>
          <br>
          <p style="line-height:1.5;">
            Thanks!<br>
            The Assign.Work Team
          </p>
        </td>
      <tr>
        <td style=" border-top: 2px solid #efefef; font-weight:400; color:#000000;font-size:12px;padding:0 20px; ">
        </td>
        <td style="color:#6E829C; text-align:right; padding:20px; border-top: 2px solid #efefef;">
          <a href="<%= appUrl %>dashboard/task/<%= task.displayName %>"
             style="font-size:14px;border-radius:4px;text-decoration:none;color:#ffffff; background:#0857fb; padding:10px 25px;">
            VIEW TASK
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
