<div>

    <span>Dear <%= user.firstName %> <%= user.lastName %>
        A task named :- <%= task.displayName %> has been Created by :-
        <b><%= task.updatedBy.firstName %> <%= task.updatedBy.lastName %></b>

        in Project <b><%= project.name %></b>
    </span>

    <span>Please visit below link to get task details</span>
    <a href="<%= appUrl %>dashboard/task/<%= task.displayName %>"><%= task.displayName %></a>

</div>
