<div>
    <span>Dear <%= user.firstName %> <%= user.lastName %> Sprint Named :- <b> <%= sprint.name %> </b> has been published </span>
    <br>
    <span> It will be completed by <%= sprint.endAt %>  </span>
    <br>
    <span> You have been assigned <%= sprint.workingCapacity %> hr's of work </span>
</div>
